#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=ASTEROIDS! - SDL
GenericName=Asteroids clone
Comment=An Asteroids game in SDL.
Keywords=Game;SDL;Asteroids
Exec=asteroids
Icon=/usr/share/asteroids/images/icon.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Game
