[Desktop Entry]
Version=1.0
Name=ASTROIDS! - PyGame Zero
GenericName=Astroids clone
Comment=An Astroids game in PyGame Zero.
Keywords=Game;Pygame;Astroids
Exec=astroids-pygame-zero
Icon=/usr/share/astroids/images/icon.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Game
