#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=ASTROIDS! - SDL
GenericName=Astroids clone
Comment=An Astroids game in SDL.
Keywords=Game;SDL;Astroids
Exec=astroids
Icon=/usr/share/astroids/images/icon.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Game
